{"filter":false,"title":"requirements-dev.txt","tooltip":"/cdk-lab-web-server/requirements-dev.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"814ebbc1cdccf4cc6993f4938ab8b6966e5d8468","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1710175425662}